body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #393939;
  cursor: default;
}

code {
  font-family: 'Poppins', sans-serif;
}
